.cart_icon {
  font-size: 18px;
  position: relative;
}
.cart_count {
  position: relative;
  background-color: red;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  top: -5px;
  padding: 0 3px;
  color: white;
}
